jb-date-input.material-style::part(calendar),
jb-calendar.material-style {
    --jb-calendar-color: var(--jb-text-primary);
    --jb-calendar-arrow-button-bg-color: transparent;
    --jb-calendar-arrow-button-border-radius: 999px;
    --jb-calendar-arrow-fill-color: var(--jb-focus-color);
    --jb-calendar-day-button-border-radius: 999px;
    --jb-calendar-month-button-border-radius: 999px;
    --jb-calendar-year-button-border-radius: 999px;
    --jb-calendar-day-text-color: var(--jb-text-secondary);
    --jb-calendar-day-text-color-disabled: var(--jb-text-disabled);
    --jb-calendar-day-text-color-today: var(--jb-focus-color);
    --jb-calendar-day-bg-color-hover: var(--jb-primary-container);
    --jb-calendar-day-color-hover: var(--jb-primary-hover);
    --jb-calendar-day-bg-color-selected: var(--jb-focus-color);
    --jb-calendar-day-bg-color-selected-hover: var(--jb-primary-hover);
    --jb-calendar-day-color-selected: var(--jb-surface);
    --jb-calendar-day-color-selected-hover: var(--jb-surface);
    --jb-calendar-status-point-bg-color-today: transparent;
    --jb-calendar-status-point-border-color: var(--jb-surface);
    --jb-calendar-month-bg-color-hover: var(--jb-surface-hover);
    --jb-calendar-month-color-hover: var(--jb-focus-color);
    --jb-calendar-year-bg-color-hover: var(--jb-surface-hover);
    --jb-calendar-year-color-hover: var(--jb-focus-color);
}

jb-date-input.material-style::part(calendar),
jb-calendar.material-style {
    padding: 1rem;
    justify-self: center;
    width: max-content;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border: 1px solid var(--jb-outline-variant);
    border-radius: var(--custom-calendar-radius, var(--jb-radius-lg));
    box-sizing: border-box;

    background: var(--jb-surface);
    box-shadow: var(--jb-elevation-2);

    --custom-calendar-radius: var(--jb-radius-lg);
}
jb-date-input.material-style::part(today-day),
jb-calendar.material-style::part(today-day) {
    border-radius: 999px;
    box-shadow: inset 0 0 0 1px var(--jb-primary);
}

jb-date-input.material-style::part(selected-day),
jb-calendar.material-style::part(selected-day) {
    border-radius: 999px;
    box-shadow: none;
}

jb-date-input.material-style::part(status-point),
jb-calendar.material-style::part(status-point) {
    display: none;
}
jb-date-input.material-style::part(disabled-day),
jb-calendar.material-style::part(disabled-day) {
    opacity: 0.46;
    filter: grayscale(1);
}
