.dark-theme{
    padding: 2rem;
    width: max-content;
    height: auto;
    border-radius: 1.5rem;
    background-color: #1f1f1f;

    --jb-calendar-color:#fff;
    --jb-calendar-arrow-button-bg-color:#888;
    --jb-calendar-day-text-color: #fefefe;
    --jb-calendar-month-bg-color-hover: #e0e;
    --jb-calendar-year-bg-color-hover: #e0e;
    --jb-calendar-arrow-fill-color: #e0e;
}